/* general */

body{
  font-family: 'Urbanist', sans-serif;
  background-color: #101010;
	color: white;
}
.bg-flash {
  position: absolute;
  width: 300px;
  height: 300px;
  left: -50px;
  top: -80px;

  background: linear-gradient(
    180deg,
    rgba(254, 196, 0, 0.35) 0%,
    rgba(254, 196, 0, 0) 100%
  );
  z-index: -1;
  filter: blur(125px);
  transform: rotate(-45deg);
}

/* swiper general */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  font-size: 18px;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* swiper services */
.swiper-slide {
  width: 354px !important;
  height: 450px !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-slide-services::before {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 450px;
  border-radius: 20px;
  background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 50%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(48, 37, 28, 0.2));
  background-position: center center;
  background-size: cover;
  background-blend-mode: hard-light, luminosity, normal;
  transition: all 0.3s ease-out;
  filter: grayscale(100%);
  transition: all 0.3s ease-out;
}

.swiper-slide:after {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 354px;
  height: 450px;
  border-radius: 20px;
  background-blend-mode: hard-light, luminosity, normal;
  filter: grayscale(100%);
  transition: all 0.3s ease-out;
}

.swiper-slide:hover:before,
.swiper-slide:hover:after,
.col1-realizacje:hover::before,
.col2-realizacje:hover::before {
  opacity: 1;
}

/* realizacje */
.col1-realizacje::before {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 700px;
  background: url("/assets/img/realizacje-bg1.png"),
    linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 50%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(48, 37, 28, 0.2));
  background-position: center center;
  background-size: cover;
  background-blend-mode: hard-light, hard-light, luminosity;
  filter: grayscale(100%);
  transition: all 0.3s ease-out;
}
.col2-realizacje::before {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 700px;
  background: url("/assets/img/realizacje-bg2.png"),
    linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 50%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(48, 37, 28, 0.2));
  background-position: center center;
  background-size: cover;
  background-blend-mode: hard-light, hard-light, luminosity;
  filter: grayscale(100%);
  transition: all 0.3s ease-out;
}