/* general */

body{
  font-family: 'Urbanist', sans-serif;
}
/* bright subpages */
.page-id-99,
.page-id-101,
.page-id-110,
.page-id-112,
.page-id-114,
.page-id-158,
.single{
  background-color: #F2F2F2;
  color: black;
}
/* .page-id-112{
  background-color: #F2F2F2;
  color: black;
} */
.home{
  background-color: #101010;
	color: white;
}
.bg-flash {
  position: absolute;
  width: 300px;
  height: 300px;
  left: -50px;
  top: -80px;

  background: linear-gradient(
    180deg,
    rgba(254, 196, 0, 0.35) 0%,
    rgba(254, 196, 0, 0) 100%
  );
  z-index: -1;
  filter: blur(125px);
  transform: rotate(-45deg);
}
.wp-block-image{
  margin-bottom: 0;
}
.vertical {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}
/* clip path */
.flt_svg {
  visibility: hidden; 
  position: absolute;
  width: 0px;
  height: 0px;
}
.img-clip-path-rounded{
  filter: url('#flt_tag');
}

/* header */

.hamburger-btn-line:nth-child(1){
  transform-origin: left;
  transform: rotate(0);
}
.hamburger-btn-line:nth-child(2){
  transition: all 0.3s ease-out;
  width: 30px;
}
.hamburger-btn-line:nth-child(3){
  transform-origin: left;
  transform: rotate(0);
}

.active .hamburger-btn-line:nth-child(1){
  transform-origin: left;
  transform: rotate(43deg);
}
.active .hamburger-btn-line:nth-child(2){
  transition: all 0.3s ease-out;
  width: 0px;
}
.active .hamburger-btn-line:nth-child(3){
  transform-origin: left;
  transform: rotate(-43deg);
}

/* about us */

.img-clip-path-about-us{
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 60% 95%, 53% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 95%, 60% 95%, 53% 100%, 0 100%);
}

/* services */

.swiper {
  /* width: 100%;
  height: 100%; */
}
.swiper-slide-services {
  font-size: 18px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide-services img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-slide-services {
  width: 354px !important;
  height: 450px !important;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}
.swiper-slide-services::before {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 450px;
  border-radius: 0 20px 20px 0;
  background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 50%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(48, 37, 28, 0.2));
  background-position: center center;
  background-size: cover;
  background-blend-mode: hard-light, luminosity, normal;
  transition: all 0.3s ease-out;
  filter: grayscale(100%);
  transition: all 0.3s ease-out;
}
.swiper-slide-services:after {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 354px;
  height: 450px;
  border-radius: 20px;
  background-blend-mode: hard-light, luminosity, normal;
  filter: grayscale(100%);
  transition: all 0.3s ease-out;
}
.swiper-slide-services:hover:before,
.swiper-slide-services:hover:after{
  opacity: 1;
}

.img-clip-path-services{
  -webkit-clip-path: polygon(19% 0, 100% 0, 100% 100%, 0 100%, 0 17%);
  clip-path: polygon(19% 0, 100% 0, 100% 100%, 0 100%, 0 17%);
}
.img-clip-path-services2{
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 83%, 82% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 83%, 82% 100%, 0 100%);
}

/* realizations */

.col1-realizacje::before {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 700px;
  background:
    linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 50%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(48, 37, 28, 0.2));
  background-position: center center;
  background-size: cover;
  background-blend-mode: hard-light, hard-light, luminosity;
  transition: all 0.3s ease-out;
}
.col2-realizacje::before {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 700px;
  background:
    linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 50%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(48, 37, 28, 0.2));
  background-position: center center;
  background-size: cover;
  background-blend-mode: hard-light, hard-light, luminosity;
  transition: all 0.3s ease-out;
}
.col1-realizacje:hover::before,
.col2-realizacje:hover::before {
  opacity: 1;
}

.img-clip-path-realizations{
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 93%, 61% 93%, 52% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 93%, 61% 93%, 52% 100%, 0 100%);
}

/* blog */

.img-clip-path-blog{
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 92%, 62% 92%, 53% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 92%, 62% 92%, 53% 100%, 0 100%);
}

/* cta */

.img-clip-path-cta{
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%, 0 68%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%, 0 68%);
}

/* meet us */

.img-clip-path-meet-us{
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 93%, 68% 93%, 60% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 93%, 68% 93%, 60% 100%, 0 100%);
}

/* meet us */

.img-clip-path-video{
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 28% 100%, 24% 92%, 0 92%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 28% 100%, 24% 92%, 0 92%);
}

/* page about sport logos */

.logos-sport-wrapper figure img{
  max-height: 80px;
}

/* page services gallery tiles */
.gallery-tile::before {
  opacity: 1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: linear-gradient(0deg, #fff 0%, rgba(255, 255, 255, 0) 200%);
  background-position: center center;
  background-size: cover;
  background-blend-mode: hard-light, luminosity, normal;
  transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* page services why section */

.img-clip-path-why {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 24% 100%, 21% 89%, 0 89%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 24% 100%, 21% 89%, 0 89%);
}

/* swiper opinions */
.swiperOpinions .swiper-wrapper .swiper-slide{
  transition: opacity 0.3s ease-out;
}

.swiperOpinions .swiper-wrapper .swiper-slide-prev,
.swiperOpinions .swiper-wrapper .swiper-slide-next{
  opacity: 0%;
}
.swiperOpinions .swiper-wrapper .swiper-slide-active{
  opacity: 100%;
}


/* blog page */

.entry-content h3{
  font-size: 35px;
  font-weight: 600;
  line-height: 42px;
  margin-bottom: 40px;
}
.entry-content h4{
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 30px;
}
.entry-content p{
 margin-left: 30px;
 margin-bottom: 20px;
}
.entry-content ul{
  margin-left: 30px;
  list-style-type: none;
  text-decoration: none;
  margin-bottom: 30px;
 }
 .entry-content ul li::before{
  content: "";
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 5px;
  margin-left: 0px;
  width: 20px;
  height: 2px;
  background-color: #FEC400;
 }
 .wp-block-pullquote{
  padding: 30px;
  border: none;
  background-color: white;
  border-radius: 20px;
  font-style: italic;
  line-height: 21px;
  font-size: 16px;
  font-weight: 300;
  text-align: left;
 }
 .wp-block-pullquote blockquote p{
  margin: 0;
 }
 @media only screen and (min-width: 480px) {
  .wp-block-pullquote{
    padding: 50px
   }
   .wp-block-pullquote blockquote p{
    margin: 0;
   }
}
 .post-img img{
   min-height: 525px;
   object-fit: cover;
 }

 /* page services-marketing */
 .in-active{
  max-height: 0px;
  opacity: 0%;
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: -1;
}
 .active{
  max-height: 250px;
  opacity: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 0;
 }