@tailwind base;
@tailwind components;
@tailwind utilities;

/* general */
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Urbanist", sans-serif;
}
/* images */
.wp-block-image{
  margin: 0!important;
}
figure[class*="clip-path-url"] img,
figure[class*="meet-us-gallery"] img,
figure[class*="post-img"] img,
figure[class*="wp-block-image"] img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
figure[class*="logo-img"] img {
  height: 50px;
  object-fit: contain;
}
.blog-first-img-hover img{
  transition: all 0.6s ease-out;
  transform: scale(1.17);
}
.swiperBlog .swiper-slide:hover .blog-first-img-hover > img{
  transform: scale(1.11);
}
.post-img img {
  transform: scale(1.12);
  transition: all 0.6s ease-out;
}
.blog-posts-wrapper .swiper-slide:hover .post-img img{
  transform: scale(1.06);
}

.test{
  display: none;
  background: 
  linear-gradient(360deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.00) 100%), 
  linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%);
  background-blend-mode: hard-light, hard-light, normal, normal;
}

/* mobile navbar action */
.hamburger-btn-line:nth-child(1) {
  transform-origin: left;
  transform: rotate(0);
}
.hamburger-btn-line:nth-child(2) {
  transition: all 0.3s ease-out;
  width: 30px;
}
.hamburger-btn-line:nth-child(3) {
  transform-origin: left;
  transform: rotate(0);
}
.active .hamburger-btn-line:nth-child(1) {
  transform-origin: left;
  transform: rotate(43deg);
}
.active .hamburger-btn-line:nth-child(2) {
  transition: all 0.3s ease-out;
  width: 0px;
}
.active .hamburger-btn-line:nth-child(3) {
  transform-origin: left;
  transform: rotate(-43deg);
}

/* ANIMATIONS */
.title-text-wrapper .company-title .block{
  animation: fadeInUp 0.6s ease-out;
}
.test01{
  animation: fadeInUp 0.6s ease-out;
}
.test02{
  animation: forwards fadeInUp2 0.8s ease-out;
}
.test03{
  animation: forwards imgAppear 0.3s ease-out;
}
.animation-textRoll{
  animation: backwards textRoll 0.5s linear;
}


@keyframes textRoll {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  80% {
    opacity: 1;
    transform: translateY(-80px);
  }
  81% {
    opacity: 0;
  }
  82% {
    opacity: 0;
    transform: translateY(80px);
  }
  83% {
    opacity: 1;
    transform: translateY(80px);
  }
  100% {
    transform: translateY(0px);
  }
}


@keyframes fadeInUp {
  0% {
    transform: translateY(80px);
  }

  100% {
    transform: translateY(0);
  }
}
@keyframes fadeInUp2 {
  0% {
    opacity: 0!important;
    transform: translateX(-120px);
  }

  100% {
    opacity: 1!important;
    transform: translateY(0);
  }
}
@keyframes imgAppear {
  0% {
    transform: translateX(-60px);
    opacity: 1;
  }

  100% {
    transform: translateY(0);
  }
}

/* FRONTPAGE */
/* swiper opinions */
.swiperOpinions .swiper-wrapper .swiper-slide-prev {
  opacity: 0;
}
.swiperOpinions .swiper-wrapper .swiper-slide-next {
  opacity: 20%;
}
.swiperOpinions .swiper-wrapper .swiper-slide-active {
  opacity: 100%;
}

/* PAGE SERVICES */
/* services block gallery tiles */
.gallery-tile::before {
  background: linear-gradient(0deg, #fff 0%, rgba(255, 255, 255, 0) 200%);
}

/* block services-marketing */
.inactive {
  max-height: 0px;
  opacity: 0%;
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: -1;
  position: relative;
}
.active {
  max-height: 280px;
  opacity: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 0;
  position: relative;
}
.swiper-slide-active .target-num{
  color: #FEC400;
}


/* ----------------------------------------------------------------------------------- */

/* Wordpress default styles */
/* blog single post page */
.single .entry-content h3 {
  font-size: 35px;
  font-weight: 600;
  line-height: 42px;
  margin-bottom: 40px;
}
.single .entry-content h4 {
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 30px;
}
.single .entry-content p {
  margin-left: 30px;
  margin-bottom: 20px;
}
.single-uslugi .entry-content p {
  margin-left: 0px;
  margin-bottom: 0px;
}
.single-realizacje .entry-content p {
  margin-left: 0px;
  margin-bottom: 0px;
  max-width: 800px;
}
.single .entry-content ul {
  margin-left: 30px;
  list-style-type: none;
  text-decoration: none;
  margin-bottom: 30px;
}
.single-realizacje .entry-content ul {
  margin-left: 0px;
  margin-bottom: 0px;
}
.single-uslugi .entry-content ul {
  margin-left: 0px;
  margin-bottom: 0px;
}
.single .entry-content ul li::before {
  display: none;
}
.single-post .entry-content ul li::before {
  content: "";
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 5px;
  margin-left: 0px;
  width: 20px;
  height: 2px;
  background-color: #FEC400;
}
.single-uslugi .entry-content ul li::before {
  display: none;
}
.single-realizacje .entry-content ul li::before {
  display: none;
}
.single-realizacje p {
  margin: 0!important;
}
.wp-block-pullquote {
  padding: 30px;
  border: none;
  background-color: white;
  border-radius: 20px;
  font-style: italic;
  line-height: 21px;
  font-size: 16px;
  font-weight: 300;
  text-align: left;
}
.wp-block-pullquote blockquote p {
  margin: 0;
}
@media only screen and (min-width: 480px) {
  .wp-block-pullquote {
    padding: 50px;
  }
  .wp-block-pullquote blockquote p {
    margin: 0;
  }
}

/* gallery */
.ngg-galleryoverview.default-view {
  text-align: left!important;
}

/* Posts pagination links */

#Posty > ul > li,
#Posty > ul > li .current{
  display: none;
}

#Posty > ul > li:first-child{
  display: block;
}
#Posty > ul > li:last-child{
  display: block;
}
/* navigation menu */
.wp-block-navigation__responsive-container-open {
  display: none;
}
.wp-block-navigation__responsive-close {
  max-width: fit-content;
}
.wp-block-navigation-item {
  font-size: 16px !important;
  font-weight: 600;
  border-bottom: 2px transparent solid;
}
.wp-block-navigation-item:hover {
  border-bottom: 2px #fec400 solid;
  color: #aaa;
  transition: all 0.3s ease-out;
}
.current-menu-item {
  color: #fec400;
}
.wp-block-navigation__container {
  gap: 50px;
}
/* menu contact btn */
 .headerDark .wp-block-navigation__container li:last-child,
 .headerBright .wp-block-navigation__container li:last-child {
  padding: 10px 20px;
  text-transform: uppercase;
  border: 2px #aaa solid;
  border-radius: 9999px;
  cursor: pointer;
  transition: all 0.3s ease-out;
  background-color: #101010;
  color: white;
  border-color: white;
  transition: all 0.3s ease-out;
}
.headerDark .wp-block-navigation__container li:last-child:hover {
  background-color: white;
  color: black;
  border-color: black;
}
.headerBright .wp-block-navigation__container li:last-child {
  border-color: #AAA;
  background-color: #F2F2F2;
  color: black;
}
.headerBright .wp-block-navigation__container li:last-child:hover {
  background-color: white;
  border-color: white;
}


#modal-1-content > ul > li.wp-block-navigation-item.contact-from-wp-panel.p-\[10px_20px\].uppercase.border-\[2px\].border-\[\#AAAAAA\].rounded-full.cursor-pointer.hover\:bg-white.hover\:text-black.hover\:border-white.transition.ease-out.duration-300.wp-block-navigation-link > a{
  overflow:hidden;
}

@keyframes textScroll {
  0% {
    transform: translateY(80px);
  }

  100% {
    transform: translateY(0);
  }

}




/* animated header */
.site-header {
  background-color: lightblue;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.nav-items {
  display: flex;
  list-style-type: none;
}

/* Animated Header on Scroll */
.animateIn{ transform: translateY(0px); }
.animateOut{ transform: translateY(-100%); }
.bg-dark{ background-color: #101010!important;}
.bg-bright{ background-color: #F2F2F2!important;}

.header-position-fixed {
	position: fixed;
  width: 100%;
	transition: all 0.3s ease-in-out;
  /* background-color: transparent; */
}

/* custom animation */

.data-fade-up {
  transform: translate3d(0, 100px, 0);
}
.data-fade-right {
  transform: translate3d(-100px, 0, 0);
}
.data-fade-left-invisible{
  transform: translate3d(-100px, 0, 0);
  opacity: 0;
  transition-property: opacity, transform;
  transition: all 0.6s ease;
}
.data-fade-left-visible {
  opacity: 1;
  transform: none;
  transform: translate3d(0px, 0, 0);
  transition-property: opacity, transform;
  transition: all 0.6s ease;
}

/* single post full width img */
.full-width{
  width: 1240px!important;
  height: 500px!important;
}
.full-width img{
  width: 1240px!important;
  height: 500px!important;
}