body{
    background-color: #F2F2F2;
    color: black;
}
a:link{
    text-decoration: none;
}
.swiperServices{
    overflow-x: scroll;
}
.swiper .swiperBlog{
    z-index: 10;
    position: relative;
}
.swiper-wrapper{
    display: flex;
}
.swiperBlog .swiper-wrapper .swiper-slide{
    min-width: 535px
}
.swiper-overscroll{
    overflow-x: scroll!important;
}