body{
    background-color: #F2F2F2;
    color: black;
    overflow-x: hidden;
}
a:link{
    text-decoration: none;
}

figure div{
    height: 100%!important;
    width: 100%;
    object-fit: cover;
}

/* FRONTPAGE */

.banner-bg{
    right: -80px;
    width: 50%;
}
.tile-title ul li{
    height: fit-content;
}
.tile-title ul li div{
    white-space: inherit;
}


/* Swiper Services */

.swiperServices{
    overflow-x: scroll;
}
.swiper-slide-services{
    min-width: 354px!important;
}
.swiper-services-editor{
    height: 850px;
}
.services-img div{
    height: 100%!important;
}

/* Swiper Opinions Dark */

.swiperOpinions{
    overflow-x: scroll;
}
.swiperOpinions .swiper-wrapper .swiper-slide{
    opacity:1;
    min-width: 444px;
}

/* Swiper Blog  */

.blog-container-editor{
    min-height: 1100px;
}
.swiperBlog{
    z-index: 10!important;
    position: relative!important;
    height: 1000px;
}
.swiper-wrapper{
    display: flex;
}
.swiperBlog .swiper-wrapper .swiper-slide{
    min-width: 535px
}

.blog-first-img-hover img {
    transition: all 0.6s ease-out;
    transform: scale(1.17);
}
  .swiperBlog .swiper-slide:hover .blog-first-img-hover > img {
    transform: scale(1.11);
}
  .blog-posts-wrapper .swiper-slide:hover .blog-first-img-hover > img {
    transform: scale(1.11);
}
.swiper-overscroll{
    overflow-x: scroll!important;
}

/* PAGE REALIZATIONS */

.categories-under-logo li div{
    white-space: inherit;
}

