<!-- wp:group -->
<div id="Mutiny theme" class="wp-block-group bg-brightWhite text-black relative">
	<!-- wp:list -->
	<ul>
		<!-- wp:list-item -->
		<li>
			<script>
				AOS.init();
			</script>
		</li>
		<!-- /wp:list-item -->
	</ul>
	<!-- /wp:list -->

	<!-- wp:template-part {"slug":"page-bright/header-bright"} /-->

	<!-- wp:group -->
	<div id="main" class="wp-block-group desktop:flex">
		<!-- wp:group -->
		<div id="Sidebar" class="wp-block-group sidebar hidden desktop:block flex-none">
			<!-- wp:template-part {"slug":"page-bright/sidebar-bright"} /-->
		</div>
		<!-- /wp:group -->

		<!-- wp:group -->
		<div id="Page content" class="wp-block-group page-content-wrapper mt-[90px] w-screen desktop:flex-1">
			<!-- wp:group -->
			<div id="404" class="wp-block-group desktop:my-[150px] my-[80px]">
				<!-- wp:group -->
				<div class="wp-block-group desktop:mb-[150px] mb-[80px] relative">
					<!-- wp:group -->
					<div
						class="wp-block-group title-wrapper relative container mx-auto desktop:px-0 px-[20px] desktop:mb-[80px] mb-[50px]"
					>
						<!-- wp:group -->
						<div
							class="wp-block-group title-wrapper relative container mx-auto desktop:mb-[120px] mb-[60px] flex"
						>
							<!-- wp:paragraph -->
							<svg
								class="flash desktop:scale-[1] scale-[0.4] absolute desktop:top-[-330px] top-[-360px] desktop:left-[-140px] right-[-100px] z-[-1]"
								xmlns="http://www.w3.org/2000/svg"
								width="688"
								height="801"
								viewBox="0 0 688 801"
								fill="none"
							>
								<g filter="url(#filter0_f_1787_1988)">
									<circle
										cx="287.132"
										cy="400.132"
										r="150"
										transform="rotate(-45 287.132 400.132)"
										fill="url(#paint0_linear_1787_1988)"
										fill-opacity="0.5"
									/>
								</g>
								<defs>
									<filter
										id="filter0_f_1787_1988"
										x="-112.868"
										y="0.131836"
										width="800"
										height="800"
										filterUnits="userSpaceOnUse"
										color-interpolation-filters="sRGB"
									>
										<feFlood
											flood-opacity="0"
											result="BackgroundImageFix"
										/>
										<feBlend
											mode="normal"
											in="SourceGraphic"
											in2="BackgroundImageFix"
											result="shape"
										/>
										<feGaussianBlur
											stdDeviation="125"
											result="effect1_foregroundBlur_1787_1988"
										/>
									</filter>
									<linearGradient
										id="paint0_linear_1787_1988"
										x1="287.132"
										y1="250.132"
										x2="287.132"
										y2="550.132"
										gradientUnits="userSpaceOnUse"
									>
										<stop
											stop-color="#FEC400"
											stop-opacity="0.6"
										/>
										<stop
											offset="1"
											stop-color="#FEC400"
											stop-opacity="0"
										/>
									</linearGradient>
								</defs>
							</svg>
							<!-- /wp:paragraph -->
							<!-- wp:paragraph -->
							<svg
								class="shape opacity-[60%] z-[-1] scale-[0.6] desktop:scale-[1] absolute desktop:top-0 top-[-50px] desktop:right-[0px] right-[-60px]"
								xmlns="http://www.w3.org/2000/svg"
								width="470"
								height="395"
								viewBox="0 0 470 395"
								fill="none"
							>
								<path
									d="M0.999573 393.345L468.242 236.123V1.39158L0.999573 158.613V393.345Z"
									stroke="white"
									stroke-width="2"
								/>
							</svg>
							<!-- /wp:paragraph -->
							<!-- wp:paragraph -->
							<p
								class="section-title desktop:basis-auto desktop:w-[145px] basis-[20%] gap-[15px] uppercase text-primaryYellow text-right pr-[20px]"
							>
								404
							</p>
							<!-- /wp:paragraph -->
							<!-- wp:group -->
							<div class="wp-block-group uslugi-title">
								<!-- wp:paragraph -->
								<p
									class="uppercase desktop:text-[50px] text-[24px] desktop:leading-[55px] leading-[30px]"
								>
									Strona nie została <br />
									<span
										class="relative desktop:text-[50px] text-[24px] uppercase italic before:content-[''] before:inline-block desktop:before:mr-[16px] before:mr-[4px] before:bottom-0 before:left-0 desktop:before:w-[90px] before:w-[30px] desktop:before:h-[3px] before:h-[2px] before:bg-black"
										>znaleziona</span
									>
								</p>
								<!-- /wp:paragraph -->
							</div>
							<!-- /wp:group -->
						</div>
						<!-- /wp:group -->
					</div>
					<!-- /wp:group -->
				</div>
				<!-- /wp:group -->
			</div>
			<!-- /wp:group -->

			<!-- wp:template-part {"slug":"page-bright/cta-bright2"} /-->
			
			<!-- wp:template-part {"slug":"page-bright/footer-bright"} /-->
		</div>
		<!-- /wp:group -->
	</div>
	<!-- /wp:group -->
	
</div>
<!-- /wp:group -->
