<!-- wp:template-part {"slug":"front-page/header"} /-->

<!-- wp:template-part {"slug":"front-page/sidebar"} /-->

<!-- wp:pattern {"slug":"banner-main"} /-->

<!-- wp:pattern {"slug":"mutiny/about-us"} /-->

<!-- wp:pattern {"slug":"services"} /-->

<!-- wp:pattern {"slug":"companies-logos"} /-->

<!-- wp:pattern {"slug":"realizations"} /-->

<!-- wp:pattern {"slug":"opinions"} /-->

<!-- wp:pattern {"slug":"blog"} /-->

<!-- wp:pattern {"slug":"cta"} /-->

<!-- wp:template-part {"slug":"front-page/footer"} /-->