<!-- wp:template-part {"slug":"front-page/header"} /-->

<!-- wp:group -->
<div id="Mutiny theme" class="wp-block-group page-wrapper flex">
  <!-- wp:group -->
  <div id="Sidebar" class="wp-block-group sidebar min-w-[80px]">
    <!-- wp:template-part {"slug":"front-page/sidebar"} /-->
  </div>
  <!-- /wp:group -->
  
  <!-- wp:group -->
  <div id="Page content" class="wp-block-group page-content-wrapper w-[calc(100%-80px)]">
    <!-- wp:pattern {"slug":"banner-main"} /-->
    
    <!-- wp:pattern {"slug":"mutiny/about-us"} /-->
    
    <!-- wp:pattern {"slug":"services"} /-->
    
    <!-- wp:pattern {"slug":"img-separator"} /-->
    
    <!-- wp:pattern {"slug":"companies-logos"} /-->
    
    <!-- wp:pattern {"slug":"realizations"} /-->
    
    <!-- wp:pattern {"slug":"opinions"} /-->
    <!-- wp:pattern {"slug":"opinions"} /-->
    <!-- wp:pattern {"slug":"opinions"} /-->
    <!-- wp:pattern {"slug":"opinions"} /-->
    

  </div>
  <!-- /wp:group -->
</div>
<!-- /wp:group -->
