<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"templateLock":"contentOnly","className":"banner relative mb-[150px] pt-[90px] overflow-hidden"} -->
<div class="wp-block-group banner relative mb-[150px] pt-[90px] overflow-hidden"><!-- wp:group {"className":"container mx-auto desktop:px-0 px-[20px] wide:h-[1180px] desktop:h-[790px] h-[700px] bg-neutral-800 text-[30px]"} -->
<div class="wp-block-group container mx-auto desktop:px-0 px-[20px] wide:h-[1180px] desktop:h-[790px] h-[700px] bg-neutral-800 text-[30px]"><!-- wp:paragraph {"className":"test1 edycja-z-kodu2"} -->
<p class="test1 edycja-z-kodu2 po eksporcie">test</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"templateLock":"contentOnly","className":"banner relative mb-[150px] pt-[90px] overflow-hidden"} -->
<div class="wp-block-group banner relative mb-[150px] pt-[90px] overflow-hidden"><!-- wp:group {"className":"container mx-auto desktop:px-0 px-[20px] wide:h-[1180px] desktop:h-[790px] h-[700px] bg-neutral-800 text-[30px]"} -->
<div class="wp-block-group container mx-auto desktop:px-0 px-[20px] wide:h-[1180px] desktop:h-[790px] h-[700px] bg-neutral-800 text-[30px]"><!-- wp:paragraph {"className":"test1 edycja-z-kodu2"} -->
<p class="test1 edycja-z-kodu2">test banner test</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->
  

<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:pattern {"slug":"mutiny/banner"} /-->

<!-- wp:template-part {"slug":"banner-main"} /-->

<!-- wp:template-part {"slug":"about-us"} /-->

<!-- wp:template-part {"slug":"services"} /-->

<!-- wp:template-part {"slug":"companies-coop"} /-->

<!-- wp:template-part {"slug":"realizations"} /-->

<!-- wp:template-part {"slug":"footer"} /-->