<!-- wp:template-part {"slug":"page-bright/header-bright"} /-->

<!-- wp:template-part {"slug":"page-bright/sidebar-bright"} /-->

<!-- wp:pattern {"slug":"page-services-marketing-banner"} /-->

<!-- wp:pattern {"slug":"page-services-marketing-process"} /-->

<!-- wp:pattern {"slug":"page-services-marketing-content2"} /-->

<!-- wp:pattern {"slug":"page-services-marketing-content3"} /-->

<!-- wp:pattern {"slug":"page-services-marketing-content4"} /-->

<!-- wp:pattern {"slug":"bright-cta2"} /-->

<!-- wp:template-part {"slug":"page-bright/footer-bright"} /-->