<!-- wp:template-part {"slug":"page-about/header-bright"} /-->

<!-- wp:template-part {"slug":"page-about/sidebar-bright"} /-->

<!-- wp:pattern {"slug":"page-about-banner-img-full-width"} /-->

<!-- wp:pattern {"slug":"page-about-meet-us"} /-->

<!-- wp:pattern {"slug":"page-about-video"} /-->

<!-- wp:pattern {"slug":"page-about-team"} /-->

<!-- wp:pattern {"slug":"page-about-opinions"} /-->

<!-- wp:pattern {"slug":"page-about-companies-logos"} /-->

<!-- wp:pattern {"slug":"page-about-cta"} /-->

<!-- wp:template-part {"slug":"page-about/footer-bright"} /-->