<!-- wp:group -->
<div id="Mutiny theme" class="wp-block-group bg-brightWhite text-black relative">
	<!-- wp:template-part {"slug":"page-bright/header-bright"} /-->

	<!-- wp:group -->
	<div id="main" class="wp-block-group desktop:flex">
		<!-- wp:group -->
		<div id="Sidebar" class="wp-block-group sidebar hidden desktop:block desktop:min-w-[80px] flex-none">
			<!-- wp:template-part {"slug":"page-bright/sidebar-bright"} /-->
		</div>
		<!-- /wp:group -->

		<!-- wp:group -->
		<div id="Page content" class="wp-block-group page-content-wrapper w-screen desktop:flex-1">
			<!-- wp:pattern {"slug":"page-services-banner"} /-->

			<!-- wp:pattern {"slug":"page-services-services"} /-->

			<!-- wp:pattern {"slug":"page-services-why"} /-->

			<!-- wp:template-part {"slug":"page-bright/cta-bright2"} /-->
			
			<!-- wp:template-part {"slug":"page-bright/footer-bright"} /-->
		</div>
		<!-- /wp:group -->
	</div>
	<!-- /wp:group -->
	
</div>
<!-- /wp:group -->
