<!-- wp:template-part {"slug":"header-bright"} /-->
<!-- wp:template {"slug":"header-bright"} /-->
<!-- wp:pattern {"slug":"header-bright"} /-->
<!-- wp:template-part {"slug":"page-bright/header-bright"} /-->
<!-- wp:template {"slug":"page-bright/header-bright"} /-->
<!-- wp:pattern {"slug":"page-bright/header-bright"} /-->

<!-- wp:template-part {"slug":"page-bright/sidebar-bright"} /-->

<!-- wp:pattern {"slug":"page-services-banner"} /-->



<!-- wp:pattern {"slug":"page-about-cta"} /-->

<!-- wp:template-part {"slug":"page-bright/footer-bright"} /-->