<!-- wp:template-part {"slug":"page-bright/header-bright"} /-->

<!-- wp:template-part {"slug":"page-bright/sidebar-bright"} /-->

<!-- wp:pattern {"slug":"page-blog-banner"} /-->

<!-- wp:pattern {"slug":"single-content"} /-->

<!-- wp:group -->
<div class="wp-block-group page-about-services mb-[150px] overflow-hidden">
  <!-- wp:group -->
  <div
    class="wp-block-group container mx-auto relative desktop:px-0 px-[20px]"
  >    
    <!-- wp:post-content /-->
  </div>
  <!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"bright-cta2"} /-->

<!-- wp:template-part {"slug":"page-bright/footer-bright"} /-->